.profile-body {
  min-width: 200vh;
  min-height: 80vh;
  padding: 0 auto;
  text-align: center;
}

.profile-card {
  background: #2c2c2c;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

.logout-btn {
  margin-top: 30px;
  padding: 10px 25px;
}

.update-btn {
  margin-top: 20px;
  padding: 10px 25px;
}

.delete-btn {
  margin-top: 15px;
  padding: 10px 25px;
  border: 2px solid red;
  background: transparent;
  color: red;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}
