.midterm2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #333;
  color: #f5f5f5;
}

.midterm2-header input[type="text"] {
  width: 100%;
  max-width: 500px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
}
